<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
  <div id="user">
    <h1>User Area</h1>
    Username: {{ user.username }}
    <form action="main" method="POST">
            <input type="hidden" name="form_action" value="logout">
            <input type="submit" value="Logout">
          </form>
  </div>
  <div id="subscription">
    <h1>Subscription Area</h1>
    <table style="border-style: groove">
      <tr>
        <td>Title</td>
        <td>Artists</td>
        <td>Year</td>
        <td>Image</td>
        <td>Remove</td>
      </tr>
      {% for music in user.music_list %}
      <tr>
        <td>{{music.title}}</td>
        <td>{{music.artist}}</td>
        <td>{{music.year}}</td>
        <td><img src="{{ music.s3_url }}" width="150" /></td>
        <td>
          <form action="main" method="POST">
            <input type="hidden" name="music_title" value="{{music.title}}">
            <input type="hidden" name="email" value="{{user.email}}">
            <input type="hidden" name="form_action" value="remove_sub">
            <input type="submit" value="Remove">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div id="query">
    <h1>Query Area</h1>
    <form action="main" method="POST">
      <div>

        <div>Title:
          <textarea id="title" name="title" rows="4" cols="50"></textarea>
        </div>
      </div>
      <div>Year:
          <textarea id="year" name="year" rows="4" cols="50"></textarea>
        </div>
      <div>Artist:
          <textarea id="artist" name="artist" rows="4" cols="50"></textarea>
        </div>
      <input type="hidden" name="email" value="{{ user.email }}">
      <input type="hidden" name="form_action" value="query">
      <div><input type="submit" value="Query"/></div>
      <div>{{ query_msg }}</div>
      </form>
      <div id="query_music_list">
            <table style="border-style: groove">
              <tr>
                <td>Title</td>
                <td>Artists</td>
                <td>Year</td>
                <td>Image</td>
                <td>Subscribe</td></tr>
              {% for music in query_music_list %}
              <tr>
                <td>{{music.title}}</td>
                <td>{{music.artist}}</td>
                <td>{{music.year}}</td>
                <td><img src="{{ music.s3_url }}" width="150" /></td>
                <td>
                  <form action="main" method="POST">
                    <input type="hidden" name="music_title" value="{{ music.title }}">
                    <input type="hidden" name="email" value="{{ user.email }}">
                    <input type="hidden" name="form_action" value="subscribe">
                    <input type="submit" value="Subscribe">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </table>
      </div>
  </div>
</body>
</html>